<table class="table">

<tr>
	<th>MAC ID</th>
	<th>Public IP Address</th>
	<th>Username</th>
	<th>Port</th>
	<th>SSH</th>
</tr>
	
{{range .gws}} 

	<tr>
		<td>{{.MAC}}</td> 
		<td>{{.IP}}</td> 
		<td>{{.Username}}</td> 
		<td>{{.Port}}</td> 
		<td><button type="button" id={{.MAC}}>Launch</button></td>

	</tr> 

{{end}}</table>


<script type="text/javascript">
    $(document).ready(function(){
        $("button").click(function(){
			var id = $("button").attr("id");
			
            $.ajax({
                "type": 'POST',
                "url": '/launch',
                 "data": {
    				"mac": id
  				},
				"content-type": "application/x-www-form-urlencoded",
                success: function(data) {
                	console.log("Successfully Sennt")
                    alert(data);
                    $("p").text(data);

                }
            });
   });
});
</script>