{{set . "title" "Home"}}
{{template "header.html" .}}

  <div class="container">
    <div class="row">
      <img src="/public/img/rbccps.png" width="70%" height="70%" align="middle" >
      <button type="button" id="logout" onClick="logout()">Logout</button>
      <br>
      <h1>Gateways</h1>
      
        {{ template "table.html" .}}
      
      <p></p>
        
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
     </div>
  </div>
</div>

{{template "footer.html" .}}


<script type="text/javascript">
	function logout(id){
            	$.ajax({
                	"type": 'GET',
	                "url": '/logout',
			success: function(){
			window.location.href = '/';
			}
            });
   }
</script>
